/* Coding taken and adapted from examples from class lectures */


<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Trending Movies</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card (click)="openTrendingMovieDetails(trendingMovie)" *ngFor="let trendingMovie of trendingMovieInfo">
    <img src = "https://image.tmdb.org/t/p/w500/{{trendingMovie.poster_path}}">
    <ion-card-header>
      <ion-card-title>{{trendingMovie.title}}</ion-card-title>
    </ion-card-header>
  </ion-card>
</ion-content>


