/* Coding taken and adapted from examples from class lectures */

<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      G00398206
    </ion-title>
  </ion-toolbar>
</ion-header>


/* on the Home Page the User is prompt to enter a key search word or blank, then press the Serach button */

<ion-content [fullscreen]="true">
    <ion-input label="Enter Movie Keyword" placeholder="keyword" [(ngModel)]="keyword"></ion-input>
    <ion-button (click)="openMovies()">Search</ion-button>
</ion-content>
